name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Rust ${{ matrix.channel }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.channel }}

      - name: Run Build
        run: cargo build

      - name: Run Tests
        run: cargo test

      - name: Run Format
        run: cargo --all -- --check

      - name: Run Clippy
        run: cargo --all --all-features --profile test

